:root {
    --toastify-color-success: #198754;
    --toastify-color-error: #dc3545;
}

.link {
    display: inline;
    color: #0d6efd;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }