:root {
    --toastify-color-success: #198754;
    --toastify-color-error: #dc3545;
}

.link {
    display: inline;
    color: #0d6efd;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline
}