USE [master]
GO
/****** Object:  Database [PubliTaxe]    Script Date: 28-12-21 08:23:08 ******/
CREATE DATABASE [PubliTaxe]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PubliTaxe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PubliTaxe]
GO
USE [PubliTaxe]
GO
/****** Object:  Table [dbo].[codes_postaux]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[codes_postaux](
	[code_postalId] [int] IDENTITY(1,1) NOT NULL,
	[id_pays] [int] NOT NULL,
	[code_postal] [varchar](50) NOT NULL,
	[numero_localite] [int] NOT NULL,
	[localite] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_codes_postaux$] PRIMARY KEY CLUSTERED 
(
	[code_postalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enseignes_publicitaires]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enseignes_publicitaires](
	[numero_panneau] [bigint] IDENTITY(1,1) NOT NULL,
	[matricule_ciger] [bigint] NOT NULL,
	[id_rue] [int] NOT NULL,
	[exercice_courant] [bigint] NOT NULL,
	[type_publicite] [smallint] NOT NULL,
	[adresse_numero] [varchar](10) NOT NULL,
	[situation] [varchar](255) NOT NULL,
	[quantite] [smallint] NOT NULL,
	[face] [smallint] NOT NULL,
	[mesure] [varchar](50) NOT NULL,
	[surface] [decimal](9, 2) NOT NULL,
	[code_recu] [smallint] NOT NULL,
	[exoneration] [bit] NOT NULL,
	[pv] [smallint] NOT NULL,
 CONSTRAINT [PK_enseignes_publicitaires] PRIMARY KEY CLUSTERED 
(
	[numero_panneau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entreprises]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entreprises](
	[matricule_ciger] [bigint] NOT NULL,
	[code_postalId] [int] NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[code_rue] [varchar](10) NULL,
	[adresse_rue] [varchar](150) NOT NULL,
	[adresse_numero] [varchar](10) NOT NULL,
	[adresse_boite] [varchar](10) NOT NULL,
	[adresse_index] [varchar](10) NOT NULL,
	[numero_telephone] [varchar](30) NOT NULL,
	[numero_fax] [varchar](30) NOT NULL,
	[numero_tva] [varchar](30) NOT NULL,
	[proces_verbal] [bit] NOT NULL,
	[recu] [bit] NOT NULL,
	[province] [bit] NOT NULL,
	[personne_contact] [varchar](50) NOT NULL,
	[telephone_contact] [varchar](30) NOT NULL,
	[mail_contact] [varchar](50) NOT NULL,
	[pourcentage_majoration] [int] NOT NULL,
	[motif_majorationId] [int] NULL,
	[code_rue_taxation] [varchar](10) NOT NULL,
	[adresse_taxation] [varchar](150) NOT NULL,
	[adresse_numero_taxation] [varchar](10) NOT NULL,
	[adresse_boite_taxation] [varchar](10) NOT NULL,
	[adresse_index_taxation] [varchar](10) NOT NULL,
	[adresse_code_postal_taxation] [varchar](50) NOT NULL,
	[adresse_localite_taxation] [varchar](20) NOT NULL,
	[commentaire_taxation] [varchar](200) NULL,
	[role_linguistique] [int] NOT NULL,
 CONSTRAINT [PK_entreprises] PRIMARY KEY CLUSTERED 
(
	[matricule_ciger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercices]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[annee_exercice] [smallint] NOT NULL,
	[date_echeance] [varchar](50) NOT NULL,
	[date_reglement_taxe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_exercices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[informations]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[informations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personne_contact] [varchar](50) NOT NULL,
	[telephone_contact] [varchar](30) NOT NULL,
	[mail_contact] [varchar](100) NOT NULL,
	[direction_generale] [varchar](50) NOT NULL,
	[bourgmestre] [varchar](50) NOT NULL,
	[exercice_courant] [bigint] NOT NULL,
 CONSTRAINT [PK_informations_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motifs_majoration]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motifs_majoration](
	[id_motif] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_motifs_majoration] PRIMARY KEY CLUSTERED 
(
	[id_motif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[non_recus]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[non_recus](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[matricule_ciger] [bigint] NOT NULL,
	[motif_majorationId] [int] NOT NULL,
	[exerciceId] [bigint] NOT NULL,
	[remarque] [text] NOT NULL,
	[pourcentage_majoration] [int] NOT NULL,
	[date] [varchar](20) NOT NULL,
 CONSTRAINT [PK_non_recus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pays]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pays](
	[paysId] [int] IDENTITY(1,1) NOT NULL,
	[code_pays] [varchar](80) NOT NULL,
	[nom_pays] [varchar](80) NOT NULL,
 CONSTRAINT [PK_pays] PRIMARY KEY CLUSTERED 
(
	[paysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photos_publicites]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photos_publicites](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[numero_panneauId] [bigint] NULL,
	[photo] [varchar](500) NOT NULL,
 CONSTRAINT [PK_photos_publicites] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rues]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rues](
	[rueId] [int] IDENTITY(1,1) NOT NULL,
	[code_postalId] [int] NOT NULL,
	[langue] [varchar](50) NOT NULL,
	[nom_rue] [varchar](1000) NOT NULL,
	[code_rue] [varchar](3) NOT NULL,
 CONSTRAINT [PK_code_rue] PRIMARY KEY CLUSTERED 
(
	[rueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarifs]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarifs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[exerciceId] [bigint] NOT NULL,
	[prix_unitaire_enseigne_non_lumineuse] [decimal](5, 3) NOT NULL,
	[prix_unitaire_enseigne_lumineuse] [decimal](5, 3) NOT NULL,
	[prix_unitaire_enseigne_clignotante] [decimal](5, 3) NOT NULL,
	[prix_unitaire_panneau_non_lumineux] [decimal](5, 3) NOT NULL,
	[prix_unitaire_panneau_lumineux] [decimal](5, 3) NOT NULL,
	[prix_unitaire_panneau_a_defilement] [decimal](5, 3) NOT NULL,
 CONSTRAINT [PK_tarifs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilisateurs]    Script Date: 28-12-21 08:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilisateurs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[prenom] [varchar](100) NOT NULL,
	[mail] [varchar](150) NOT NULL,
	[pass] [varchar](500) NOT NULL,
	[actif] [smallint] NOT NULL,
	[role] [smallint] NOT NULL,
	[changement_pass] [smallint] NOT NULL,
 CONSTRAINT [PK_utilisateurs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[codes_postaux] ON 

INSERT [dbo].[codes_postaux] ([code_postalId], [id_pays], [code_postal], [numero_localite], [localite]) VALUES (1, 3, N'4475', 1, N'Belvaux')
INSERT [dbo].[codes_postaux] ([code_postalId], [id_pays], [code_postal], [numero_localite], [localite]) VALUES (2, 4, N'59820', 1, N'Quesnoy/Deule')
INSERT [dbo].[codes_postaux] ([code_postalId], [id_pays], [code_postal], [numero_localite], [localite]) VALUES (3, 4, N'35350', 1, N'Meloir des Ondes')
GO
SET IDENTITY_INSERT [dbo].[codes_postaux] OFF
GO
SET IDENTITY_INSERT [dbo].[enseignes_publicitaires] ON 

INSERT [dbo].[enseignes_publicitaires] ([numero_panneau], [matricule_ciger], [id_rue], [exercice_courant], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface], [code_recu], [exoneration], [pv]) VALUES (1, 789, 423, 2, 1, N'100000', N'situation', 2, 1, N'10m x 11m', CAST(41.00 AS Decimal(9, 2)), 1, 1, 1)
INSERT [dbo].[enseignes_publicitaires] ([numero_panneau], [matricule_ciger], [id_rue], [exercice_courant], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface], [code_recu], [exoneration], [pv]) VALUES (3, 789, 27, 2, 2, N'265', N'une situation', 2, 2, N'16m x 02m', CAST(36.00 AS Decimal(9, 2)), 1, 0, 0)
INSERT [dbo].[enseignes_publicitaires] ([numero_panneau], [matricule_ciger], [id_rue], [exercice_courant], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface], [code_recu], [exoneration], [pv]) VALUES (4, 789, 353, 2, 1, N'78', N'test', 3, 1, N'25 m x 25m', CAST(51.00 AS Decimal(9, 2)), 0, 1, 0)
SET IDENTITY_INSERT [dbo].[enseignes_publicitaires] OFF
GO
SET IDENTITY_INSERT [dbo].[exercices] ON 

INSERT [dbo].[exercices] ([id], [annee_exercice], [date_echeance], [date_reglement_taxe]) VALUES (1, 2021, N'2021-12-17', N'2021-01-05')
INSERT [dbo].[exercices] ([id], [annee_exercice], [date_echeance], [date_reglement_taxe]) VALUES (2, 2023, N'2023-12-31', N'2022-05-03')
INSERT [dbo].[exercices] ([id], [annee_exercice], [date_echeance], [date_reglement_taxe]) VALUES (4, 2024, N'2021-12-06', N'2021-12-06')
SET IDENTITY_INSERT [dbo].[exercices] OFF
GO
SET IDENTITY_INSERT [dbo].[informations] ON 

INSERT [dbo].[informations] ([id], [personne_contact], [telephone_contact], [mail_contact], [direction_generale], [bourgmestre], [exercice_courant]) VALUES (2, N'Mme Maerten', N'056/86.02.80', N'sylvie.maerten@mouscron.be', N'Nathalie BLANCKE', N'Brigitte AUBERT', 2)
SET IDENTITY_INSERT [dbo].[informations] OFF
GO
SET IDENTITY_INSERT [dbo].[motifs_majoration] ON 

INSERT [dbo].[motifs_majoration] ([id_motif], [libelle]) VALUES (1, N'Vous n''avez pas retourné à l''administration communale la formule de déclaration')
INSERT [dbo].[motifs_majoration] ([id_motif], [libelle]) VALUES (2, N'Vous n''avez pas donné à l''administration communale tous les éléments nécessaires à la taxation')
INSERT [dbo].[motifs_majoration] ([id_motif], [libelle]) VALUES (3, N'Votre déclaration est incorrecte')
SET IDENTITY_INSERT [dbo].[motifs_majoration] OFF
GO
SET IDENTITY_INSERT [dbo].[non_recus] ON 

INSERT [dbo].[non_recus] ([id], [matricule_ciger], [motif_majorationId], [exerciceId], [remarque], [pourcentage_majoration], [date]) VALUES (20005, 789, 1, 5, N'6', 10, N'2020-07-12')
INSERT [dbo].[non_recus] ([id], [matricule_ciger], [motif_majorationId], [exerciceId], [remarque], [pourcentage_majoration], [date]) VALUES (20006, 789, 2, 6, N'sss', 50, N'2019-07-15')
INSERT [dbo].[non_recus] ([id], [matricule_ciger], [motif_majorationId], [exerciceId], [remarque], [pourcentage_majoration], [date]) VALUES (20008, 789, 1, 1, N'', 100, N'23-12-2021')
SET IDENTITY_INSERT [dbo].[non_recus] OFF
GO
SET IDENTITY_INSERT [dbo].[pays] ON 

INSERT [dbo].[pays] ([paysId], [code_pays], [nom_pays]) VALUES (3, N'113', N'GRAND DUCHE DE LUXEMBOURG')
INSERT [dbo].[pays] ([paysId], [code_pays], [nom_pays]) VALUES (4, N'111', N'FRANCE')
INSERT [dbo].[pays] ([paysId], [code_pays], [nom_pays]) VALUES (5, N'150', N'BELGIQUE')
SET IDENTITY_INSERT [dbo].[pays] OFF
GO
SET IDENTITY_INSERT [dbo].[rues] ON 

INSERT [dbo].[rues] ([rueId], [code_postalId], [langue], [nom_rue], [code_rue]) VALUES (1, 2238, N'F', N'Chaussée d''Aelbeke', N'Ael')
INSERT [dbo].[rues] ([rueId], [code_postalId], [langue], [nom_rue], [code_rue]) VALUES (2, 2238, N'F', N'Rue de l''Agriculture', N'Agr')
INSERT [dbo].[rues] ([rueId], [code_postalId], [langue], [nom_rue], [code_rue]) VALUES (3, 2238, N'F', N'Rue du Roi Chevalier', N'Roi')
GO
SET IDENTITY_INSERT [dbo].[rues] OFF
GO
SET IDENTITY_INSERT [dbo].[tarifs] ON 

INSERT [dbo].[tarifs] ([id], [exerciceId], [prix_unitaire_enseigne_non_lumineuse], [prix_unitaire_enseigne_lumineuse], [prix_unitaire_enseigne_clignotante], [prix_unitaire_panneau_non_lumineux], [prix_unitaire_panneau_lumineux], [prix_unitaire_panneau_a_defilement]) VALUES (1, 1, CAST(0.140 AS Decimal(5, 3)), CAST(0.280 AS Decimal(5, 3)), CAST(0.280 AS Decimal(5, 3)), CAST(0.810 AS Decimal(5, 3)), CAST(1.620 AS Decimal(5, 3)), CAST(1.620 AS Decimal(5, 3)))
INSERT [dbo].[tarifs] ([id], [exerciceId], [prix_unitaire_enseigne_non_lumineuse], [prix_unitaire_enseigne_lumineuse], [prix_unitaire_enseigne_clignotante], [prix_unitaire_panneau_non_lumineux], [prix_unitaire_panneau_lumineux], [prix_unitaire_panneau_a_defilement]) VALUES (2, 2, CAST(5.020 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)))
INSERT [dbo].[tarifs] ([id], [exerciceId], [prix_unitaire_enseigne_non_lumineuse], [prix_unitaire_enseigne_lumineuse], [prix_unitaire_enseigne_clignotante], [prix_unitaire_panneau_non_lumineux], [prix_unitaire_panneau_lumineux], [prix_unitaire_panneau_a_defilement]) VALUES (10002, 4, CAST(1.000 AS Decimal(5, 3)), CAST(1.000 AS Decimal(5, 3)), CAST(1.000 AS Decimal(5, 3)), CAST(1.000 AS Decimal(5, 3)), CAST(1.000 AS Decimal(5, 3)), CAST(2.000 AS Decimal(5, 3)))
SET IDENTITY_INSERT [dbo].[tarifs] OFF
GO
SET IDENTITY_INSERT [dbo].[utilisateurs] ON 

INSERT [dbo].[utilisateurs] ([id], [nom], [prenom], [mail], [pass], [actif], [role], [changement_pass]) VALUES (1, N'Hourriez', N'Hugo', N'hugohourriez@live.be', N'$2a$11$sYze5KF4Md8zEuruKDCHwufWWkho1YZXhDZMquDQasaG6Yrb8j2.a', 1, 3, 0)
INSERT [dbo].[utilisateurs] ([id], [nom], [prenom], [mail], [pass], [actif], [role], [changement_pass]) VALUES (2, N'Doe', N'John', N'john.doe@gmail.com', N'$2a$11$5pij1sCfc0wYxyVQ4CRllOzmpjnvlKIoI9DlU6ar7B..rQlqqzcM6', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[utilisateurs] OFF
GO
/****** Object:  Index [IX_codes_postaux]    Script Date: 28-12-21 08:23:08 ******/
CREATE NONCLUSTERED INDEX [IX_codes_postaux] ON [dbo].[codes_postaux]
(
	[code_postalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[codes_postaux]  WITH CHECK ADD  CONSTRAINT [FK_codes_postaux_pays] FOREIGN KEY([id_pays])
REFERENCES [dbo].[pays] ([paysId])
GO
ALTER TABLE [dbo].[codes_postaux] CHECK CONSTRAINT [FK_codes_postaux_pays]
GO
ALTER TABLE [dbo].[enseignes_publicitaires]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_entreprises] FOREIGN KEY([matricule_ciger])
REFERENCES [dbo].[entreprises] ([matricule_ciger])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[enseignes_publicitaires] CHECK CONSTRAINT [FK_enseignes_publicitaires_entreprises]
GO
ALTER TABLE [dbo].[enseignes_publicitaires]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_exercices] FOREIGN KEY([exercice_courant])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[enseignes_publicitaires] CHECK CONSTRAINT [FK_enseignes_publicitaires_exercices]
GO
ALTER TABLE [dbo].[enseignes_publicitaires]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_rues] FOREIGN KEY([id_rue])
REFERENCES [dbo].[rues] ([rueId])
GO
ALTER TABLE [dbo].[enseignes_publicitaires] CHECK CONSTRAINT [FK_enseignes_publicitaires_rues]
GO
ALTER TABLE [dbo].[entreprises]  WITH CHECK ADD  CONSTRAINT [FK_entreprises_codes_postaux] FOREIGN KEY([code_postalId])
REFERENCES [dbo].[codes_postaux] ([code_postalId])
GO
ALTER TABLE [dbo].[entreprises] CHECK CONSTRAINT [FK_entreprises_codes_postaux]
GO
ALTER TABLE [dbo].[entreprises]  WITH CHECK ADD  CONSTRAINT [FK_entreprises_motifs_majoration] FOREIGN KEY([motif_majorationId])
REFERENCES [dbo].[motifs_majoration] ([id_motif])
GO
ALTER TABLE [dbo].[entreprises] CHECK CONSTRAINT [FK_entreprises_motifs_majoration]
GO
ALTER TABLE [dbo].[informations]  WITH CHECK ADD  CONSTRAINT [FK_informations_exercices] FOREIGN KEY([exercice_courant])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[informations] CHECK CONSTRAINT [FK_informations_exercices]
GO
ALTER TABLE [dbo].[non_recus]  WITH CHECK ADD  CONSTRAINT [FK_non_recus_entreprises] FOREIGN KEY([matricule_ciger])
REFERENCES [dbo].[entreprises] ([matricule_ciger])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[non_recus] CHECK CONSTRAINT [FK_non_recus_entreprises]
GO
ALTER TABLE [dbo].[non_recus]  WITH CHECK ADD  CONSTRAINT [FK_non_recus_exercices] FOREIGN KEY([exerciceId])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[non_recus] CHECK CONSTRAINT [FK_non_recus_exercices]
GO
ALTER TABLE [dbo].[non_recus]  WITH CHECK ADD  CONSTRAINT [FK_non_recus_motifs_majoration] FOREIGN KEY([motif_majorationId])
REFERENCES [dbo].[motifs_majoration] ([id_motif])
GO
ALTER TABLE [dbo].[non_recus] CHECK CONSTRAINT [FK_non_recus_motifs_majoration]
GO
ALTER TABLE [dbo].[photos_publicites]  WITH CHECK ADD  CONSTRAINT [FK_photos_publicites_enseignes_publicitaires] FOREIGN KEY([numero_panneauId])
REFERENCES [dbo].[enseignes_publicitaires] ([numero_panneau])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[photos_publicites] CHECK CONSTRAINT [FK_photos_publicites_enseignes_publicitaires]
GO
ALTER TABLE [dbo].[rues]  WITH CHECK ADD  CONSTRAINT [FK_rues_codes_postaux] FOREIGN KEY([code_postalId])
REFERENCES [dbo].[codes_postaux] ([code_postalId])
GO
ALTER TABLE [dbo].[rues] CHECK CONSTRAINT [FK_rues_codes_postaux]
GO
ALTER TABLE [dbo].[tarifs]  WITH CHECK ADD  CONSTRAINT [FK_tarifs_exercices] FOREIGN KEY([exerciceId])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[tarifs] CHECK CONSTRAINT [FK_tarifs_exercices]
GO
USE [master]
GO
