USE [master]
GO
CREATE DATABASE [PubliTaxe2]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PubliTaxe2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PubliTaxe2]
GO
USE [PubliTaxe2]
GO
/****** Object:  Table [dbo].[codes_postaux]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[codes_postaux](
	[code_postalId] [int] IDENTITY(1,1) NOT NULL,
	[id_pays] [int] NOT NULL,
	[code_postal] [varchar](50) NOT NULL,
	[numero_localite] [int] NOT NULL,
	[localite] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_codes_postaux$] PRIMARY KEY CLUSTERED 
(
	[code_postalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enseignes_publicitaires]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enseignes_publicitaires](
	[numero_panneau] [bigint] IDENTITY(1,1) NOT NULL,
	[id_entreprise] [bigint] NULL,
	[id_rue] [int] NOT NULL,
	[exercice_courant] [bigint] NOT NULL,
	[type_publicite] [smallint] NOT NULL,
	[adresse_numero] [varchar](10) NOT NULL,
	[situation] [varchar](255) NOT NULL,
	[quantite] [smallint] NOT NULL,
	[face] [smallint] NOT NULL,
	[mesure] [varchar](50) NOT NULL,
	[surface] [decimal](9, 2) NOT NULL,
	[code_recu] [smallint] NOT NULL,
	[exoneration] [bit] NOT NULL,
	[pv] [smallint] NOT NULL,
 CONSTRAINT [PK_enseignes_publicitaires] PRIMARY KEY CLUSTERED 
(
	[numero_panneau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enseignes_publicitaires_simulations]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enseignes_publicitaires_simulations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_simulation] [bigint] NOT NULL,
	[exoneration] [bit] NOT NULL,
	[id_rue] [int] NOT NULL,
	[type_publicite] [smallint] NOT NULL,
	[adresse_numero] [varchar](10) NOT NULL,
	[situation] [varchar](255) NOT NULL,
	[quantite] [smallint] NOT NULL,
	[face] [smallint] NOT NULL,
	[mesure] [varchar](50) NOT NULL,
	[surface] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_enseignes_publicitaires_simulations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entreprises]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entreprises](
	[id_entreprise] [bigint] IDENTITY(1,1) NOT NULL,
	[matricule_ciger] [bigint] NOT NULL,
	[code_postalId] [int] NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[code_rue] [varchar](10) NULL,
	[adresse_rue] [varchar](150) NOT NULL,
	[adresse_numero] [varchar](10) NOT NULL,
	[adresse_boite] [varchar](10) NOT NULL,
	[adresse_index] [varchar](10) NOT NULL,
	[numero_telephone] [varchar](30) NOT NULL,
	[numero_fax] [varchar](30) NOT NULL,
	[numero_tva] [varchar](30) NOT NULL,
	[proces_verbal] [bit] NOT NULL,
	[recu] [bit] NOT NULL,
	[province] [bit] NOT NULL,
	[suppression] [bit] NOT NULL,
	[statut_paiement] [smallint] NOT NULL,
	[personne_contact] [varchar](50) NOT NULL,
	[telephone_contact] [varchar](30) NOT NULL,
	[mail_contact] [varchar](50) NOT NULL,
	[pourcentage_majoration] [int] NOT NULL,
	[motif_majorationId] [int] NULL,
	[code_rue_taxation] [varchar](10) NOT NULL,
	[adresse_taxation] [varchar](150) NOT NULL,
	[adresse_numero_taxation] [varchar](10) NOT NULL,
	[adresse_boite_taxation] [varchar](10) NOT NULL,
	[adresse_index_taxation] [varchar](10) NOT NULL,
	[adresse_code_postal_taxation] [varchar](50) NOT NULL,
	[adresse_localite_taxation] [varchar](20) NOT NULL,
	[commentaire_taxation] [varchar](200) NULL,
	[role_linguistique] [int] NOT NULL,
	[desactive] [bit] NOT NULL,
 CONSTRAINT [PK_entreprises] PRIMARY KEY CLUSTERED 
(
	[id_entreprise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exercices]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exercices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[annee_exercice] [smallint] NOT NULL,
	[date_echeance] [varchar](50) NOT NULL,
	[date_reglement_taxe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_exercices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[informations]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[informations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personne_contact] [varchar](50) NOT NULL,
	[telephone_contact] [varchar](30) NOT NULL,
	[mail_contact] [varchar](100) NOT NULL,
	[direction_generale] [varchar](50) NOT NULL,
	[bourgmestre] [varchar](50) NOT NULL,
	[exercice_courant] [bigint] NOT NULL,
 CONSTRAINT [PK_informations_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motifs_majoration]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motifs_majoration](
	[id_motif] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_motifs_majoration] PRIMARY KEY CLUSTERED 
(
	[id_motif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[non_recus]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[non_recus](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_entreprise] [bigint] NULL,
	[motif_majorationId] [int] NOT NULL,
	[exerciceId] [bigint] NOT NULL,
	[remarque] [text] NOT NULL,
	[pourcentage_majoration] [int] NOT NULL,
	[date] [varchar](20) NOT NULL,
 CONSTRAINT [PK_non_recus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paiements_recus]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paiements_recus](
	[id_paiement] [bigint] IDENTITY(1,1) NOT NULL,
	[id_entreprise] [bigint] NULL,
	[exerciceId] [bigint] NOT NULL,
	[montant] [decimal](9, 2) NOT NULL,
	[type_paiement] [smallint] NOT NULL,
	[mode_paiement] [smallint] NOT NULL,
	[type_carte] [smallint] NOT NULL,
	[remarque] [varchar](500) NOT NULL,
	[date] [varchar](50) NOT NULL,
 CONSTRAINT [PK_paiements_recus] PRIMARY KEY CLUSTERED 
(
	[id_paiement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pays]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pays](
	[paysId] [int] IDENTITY(1,1) NOT NULL,
	[code_pays] [varchar](80) NOT NULL,
	[nom_pays] [varchar](80) NOT NULL,
 CONSTRAINT [PK_pays] PRIMARY KEY CLUSTERED 
(
	[paysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photos_publicites]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photos_publicites](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[numero_panneauId] [bigint] NULL,
	[photo] [varchar](500) NOT NULL,
 CONSTRAINT [PK_photos_publicites] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rues]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rues](
	[rueId] [int] IDENTITY(1,1) NOT NULL,
	[code_postalId] [int] NOT NULL,
	[langue] [varchar](50) NOT NULL,
	[nom_rue] [varchar](1000) NOT NULL,
	[code_rue] [varchar](3) NOT NULL,
 CONSTRAINT [PK_code_rue] PRIMARY KEY CLUSTERED 
(
	[rueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[simulations]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[simulations](
	[id_simulation] [bigint] IDENTITY(1,1) NOT NULL,
	[commentaire_taxation] [varchar](200) NULL,
	[code_postalId] [int] NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[code_rue] [varchar](10) NULL,
	[adresse_rue] [varchar](150) NOT NULL,
	[adresse_numero] [varchar](10) NOT NULL,
	[adresse_boite] [varchar](10) NOT NULL,
	[adresse_index] [varchar](10) NOT NULL,
	[numero_telephone] [varchar](30) NOT NULL,
	[numero_tva] [varchar](30) NOT NULL,
	[mail_contact] [varchar](50) NOT NULL,
	[role_linguistique] [int] NOT NULL,
	[date_creation] [varchar](20) NOT NULL,
	[exercices] [varchar](50) NOT NULL,
 CONSTRAINT [PK_simulations] PRIMARY KEY CLUSTERED 
(
	[id_simulation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tarifs]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarifs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[exerciceId] [bigint] NOT NULL,
	[prix_unitaire_enseigne_non_lumineuse] [decimal](5, 3) NOT NULL,
	[prix_unitaire_enseigne_lumineuse] [decimal](5, 3) NOT NULL,
	[prix_unitaire_enseigne_clignotante] [decimal](5, 3) NOT NULL,
	[prix_unitaire_panneau_non_lumineux] [decimal](5, 3) NOT NULL,
	[prix_unitaire_panneau_lumineux] [decimal](5, 3) NOT NULL,
	[prix_unitaire_panneau_a_defilement] [decimal](5, 3) NOT NULL,
 CONSTRAINT [PK_tarifs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilisateurs]    Script Date: 17-08-22 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilisateurs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[prenom] [varchar](100) NOT NULL,
	[mail] [varchar](150) NOT NULL,
	[pass] [varchar](500) NOT NULL,
	[actif] [smallint] NOT NULL,
	[role] [smallint] NOT NULL,
	[changement_pass] [smallint] NOT NULL,
 CONSTRAINT [PK_utilisateurs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[codes_postaux] ON 

INSERT [dbo].[codes_postaux] ([code_postalId], [id_pays], [code_postal], [numero_localite], [localite]) VALUES (1, 3, N'4475', 1, N'Belvaux')
INSERT [dbo].[codes_postaux] ([code_postalId], [id_pays], [code_postal], [numero_localite], [localite]) VALUES (2, 4, N'59820', 1, N'Quesnoy/Deule')
INSERT [dbo].[codes_postaux] ([code_postalId], [id_pays], [code_postal], [numero_localite], [localite]) VALUES (3, 4, N'35350', 1, N'Meloir des Ondes')
GO
SET IDENTITY_INSERT [dbo].[codes_postaux] OFF
GO
SET IDENTITY_INSERT [dbo].[enseignes_publicitaires] ON 

INSERT [dbo].[enseignes_publicitaires] ([numero_panneau], [id_entreprise], [id_rue], [exercice_courant], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface], [code_recu], [exoneration], [pv]) VALUES (50011, 14, 386, 7, 2, N'258', N'', 1, 1, N'3m x 3m', CAST(900.00 AS Decimal(9, 2)), 0, 0, 0)
INSERT [dbo].[enseignes_publicitaires] ([numero_panneau], [id_entreprise], [id_rue], [exercice_courant], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface], [code_recu], [exoneration], [pv]) VALUES (50012, 14, 386, 7, 5, N'258', N'', 2, 1, N'3m x 3m', CAST(900.00 AS Decimal(9, 2)), 0, 0, 0)
INSERT [dbo].[enseignes_publicitaires] ([numero_panneau], [id_entreprise], [id_rue], [exercice_courant], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface], [code_recu], [exoneration], [pv]) VALUES (50013, 14, 386, 7, 1, N'258', N'', 1, 3, N'3m x 3m', CAST(900.00 AS Decimal(9, 2)), 0, 1, 0)
SET IDENTITY_INSERT [dbo].[enseignes_publicitaires] OFF
GO
SET IDENTITY_INSERT [dbo].[enseignes_publicitaires_simulations] ON 

INSERT [dbo].[enseignes_publicitaires_simulations] ([id], [id_simulation], [exoneration], [id_rue], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface]) VALUES (10002, 7, 0, 116, 6, N'128A', N'', 2, 1, N'10m x 10m', CAST(128.00 AS Decimal(9, 2)))
INSERT [dbo].[enseignes_publicitaires_simulations] ([id], [id_simulation], [exoneration], [id_rue], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface]) VALUES (20003, 10006, 0, 374, 2, N'45', N'', 2, 2, N'4 x 4', CAST(45.00 AS Decimal(9, 2)))
INSERT [dbo].[enseignes_publicitaires_simulations] ([id], [id_simulation], [exoneration], [id_rue], [type_publicite], [adresse_numero], [situation], [quantite], [face], [mesure], [surface]) VALUES (20004, 10006, 0, 374, 5, N'45', N'', 1, 1, N'36 x 36', CAST(36.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[enseignes_publicitaires_simulations] OFF
GO
SET IDENTITY_INSERT [dbo].[entreprises] ON 

SET IDENTITY_INSERT [dbo].[entreprises] OFF
GO
SET IDENTITY_INSERT [dbo].[exercices] ON 

INSERT [dbo].[exercices] ([id], [annee_exercice], [date_echeance], [date_reglement_taxe]) VALUES (1, 2021, N'2021-07-31', N'2021-12-20')
INSERT [dbo].[exercices] ([id], [annee_exercice], [date_echeance], [date_reglement_taxe]) VALUES (5, 2020, N'2020-07-31', N'2020-12-20')
INSERT [dbo].[exercices] ([id], [annee_exercice], [date_echeance], [date_reglement_taxe]) VALUES (6, 2019, N'2019-07-31', N'2019-12-20')
SET IDENTITY_INSERT [dbo].[exercices] OFF
GO
SET IDENTITY_INSERT [dbo].[informations] ON 

INSERT [dbo].[informations] ([id], [personne_contact], [telephone_contact], [mail_contact], [direction_generale], [bourgmestre], [exercice_courant]) VALUES (2, N'Mme Maerten', N'056/86.02.80', N'sylvie.maerten@mouscron.be', N'Nathalie BLANCKE', N'Brigitte AUBERT', 7)
SET IDENTITY_INSERT [dbo].[informations] OFF
GO
SET IDENTITY_INSERT [dbo].[motifs_majoration] ON 

INSERT [dbo].[motifs_majoration] ([id_motif], [libelle]) VALUES (1, N'Vous n''avez pas retourné à l''administration communale la formule de déclaration')
INSERT [dbo].[motifs_majoration] ([id_motif], [libelle]) VALUES (2, N'Vous n''avez pas donné à l''administration communale tous les éléments nécessaires à la taxation')
INSERT [dbo].[motifs_majoration] ([id_motif], [libelle]) VALUES (3, N'Votre déclaration est incorrecte')
SET IDENTITY_INSERT [dbo].[motifs_majoration] OFF
GO
SET IDENTITY_INSERT [dbo].[non_recus] ON 

INSERT [dbo].[non_recus] ([id], [id_entreprise], [motif_majorationId], [exerciceId], [remarque], [pourcentage_majoration], [date]) VALUES (310016, 1, 1, 1, N'', 50, N'10-08-2021')
INSERT [dbo].[non_recus] ([id], [id_entreprise], [motif_majorationId], [exerciceId], [remarque], [pourcentage_majoration], [date]) VALUES (350016, 1, 1, 6, N'', 10, N'25-08-2019')
INSERT [dbo].[non_recus] ([id], [id_entreprise], [motif_majorationId], [exerciceId], [remarque], [pourcentage_majoration], [date]) VALUES (350017, 14, 1, 5, N'', 10, N'02-08-2020')
SET IDENTITY_INSERT [dbo].[non_recus] OFF
GO
SET IDENTITY_INSERT [dbo].[pays] ON 

INSERT [dbo].[pays] ([paysId], [code_pays], [nom_pays]) VALUES (3, N'113', N'GRAND DUCHE DE LUXEMBOURG')
INSERT [dbo].[pays] ([paysId], [code_pays], [nom_pays]) VALUES (4, N'111', N'FRANCE')
INSERT [dbo].[pays] ([paysId], [code_pays], [nom_pays]) VALUES (5, N'150', N'BELGIQUE')
SET IDENTITY_INSERT [dbo].[pays] OFF
GO
SET IDENTITY_INSERT [dbo].[photos_publicites] ON 

INSERT [dbo].[photos_publicites] ([id], [numero_panneauId], [photo]) VALUES (40050, NULL, N'a314fc1b-86bd-4124-bb70-f57064d4ae19-.jpg')
INSERT [dbo].[photos_publicites] ([id], [numero_panneauId], [photo]) VALUES (40051, NULL, N'e6a7eaf5-5cf7-4a40-9468-598c899d155d-.png')
INSERT [dbo].[photos_publicites] ([id], [numero_panneauId], [photo]) VALUES (40052, NULL, N'3bab1267-d9cb-45e6-a437-c575a351d50d-.png')
SET IDENTITY_INSERT [dbo].[photos_publicites] OFF
GO
SET IDENTITY_INSERT [dbo].[rues] ON 

INSERT [dbo].[rues] ([rueId], [code_postalId], [langue], [nom_rue], [code_rue]) VALUES (1, 2238, N'F', N'Chaussée d''Aelbeke', N'Ael')
INSERT [dbo].[rues] ([rueId], [code_postalId], [langue], [nom_rue], [code_rue]) VALUES (2, 2238, N'F', N'Rue de l''Agriculture', N'Agr')
INSERT [dbo].[rues] ([rueId], [code_postalId], [langue], [nom_rue], [code_rue]) VALUES (3, 2238, N'F', N'Rue du Roi Chevalier', N'Roi')
GO
SET IDENTITY_INSERT [dbo].[rues] OFF
GO
SET IDENTITY_INSERT [dbo].[simulations] ON 

INSERT [dbo].[simulations] ([id_simulation], [commentaire_taxation], [code_postalId], [nom], [code_rue], [adresse_rue], [adresse_numero], [adresse_boite], [adresse_index], [numero_telephone], [numero_tva], [mail_contact], [role_linguistique], [date_creation], [exercices]) VALUES (7, N'Nouveau magasin*', 8, N'Carrefour express', N'Alb', N'Rue Albert Ier(L)', N'125A', N'56', N'', N'056 89 56 23', N'BE26 56 89 56 23', N'carrefour.mouscron@carrefour.be', 1, N'15-02-2022', N'2')
INSERT [dbo].[simulations] ([id_simulation], [commentaire_taxation], [code_postalId], [nom], [code_rue], [adresse_rue], [adresse_numero], [adresse_boite], [adresse_index], [numero_telephone], [numero_tva], [mail_contact], [role_linguistique], [date_creation], [exercices]) VALUES (10006, N'', 2237, N'Infotic', N'Rac', N'Rue Rachel Lagast(L)', N'45', N'', N'', N'056 89 56 23', N'0562356896', N'contact@infotic.be', 2, N'17-04-2022', N'2')
INSERT [dbo].[simulations] ([id_simulation], [commentaire_taxation], [code_postalId], [nom], [code_rue], [adresse_rue], [adresse_numero], [adresse_boite], [adresse_index], [numero_telephone], [numero_tva], [mail_contact], [role_linguistique], [date_creation], [exercices]) VALUES (30007, N'', 2238, N'ING', N'Jus', N'Place de la Justice', N'89', N'', N'', N'056480194', N'Be56 45 45 45 45', N'jean.dupont@outlook.com', 1, N'08-08-2022', N'7')
SET IDENTITY_INSERT [dbo].[simulations] OFF
GO
SET IDENTITY_INSERT [dbo].[tarifs] ON 

INSERT [dbo].[tarifs] ([id], [exerciceId], [prix_unitaire_enseigne_non_lumineuse], [prix_unitaire_enseigne_lumineuse], [prix_unitaire_enseigne_clignotante], [prix_unitaire_panneau_non_lumineux], [prix_unitaire_panneau_lumineux], [prix_unitaire_panneau_a_defilement]) VALUES (1, 1, CAST(0.140 AS Decimal(5, 3)), CAST(0.280 AS Decimal(5, 3)), CAST(0.280 AS Decimal(5, 3)), CAST(0.810 AS Decimal(5, 3)), CAST(1.620 AS Decimal(5, 3)), CAST(1.620 AS Decimal(5, 3)))
INSERT [dbo].[tarifs] ([id], [exerciceId], [prix_unitaire_enseigne_non_lumineuse], [prix_unitaire_enseigne_lumineuse], [prix_unitaire_enseigne_clignotante], [prix_unitaire_panneau_non_lumineux], [prix_unitaire_panneau_lumineux], [prix_unitaire_panneau_a_defilement]) VALUES (10006, 7, CAST(0.230 AS Decimal(5, 3)), CAST(0.400 AS Decimal(5, 3)), CAST(0.500 AS Decimal(5, 3)), CAST(0.400 AS Decimal(5, 3)), CAST(0.600 AS Decimal(5, 3)), CAST(0.700 AS Decimal(5, 3)))
INSERT [dbo].[tarifs] ([id], [exerciceId], [prix_unitaire_enseigne_non_lumineuse], [prix_unitaire_enseigne_lumineuse], [prix_unitaire_enseigne_clignotante], [prix_unitaire_panneau_non_lumineux], [prix_unitaire_panneau_lumineux], [prix_unitaire_panneau_a_defilement]) VALUES (30007, 6, CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)), CAST(5.000 AS Decimal(5, 3)))
SET IDENTITY_INSERT [dbo].[tarifs] OFF
GO
SET IDENTITY_INSERT [dbo].[utilisateurs] ON 

INSERT [dbo].[utilisateurs] ([id], [nom], [prenom], [mail], [pass], [actif], [role], [changement_pass]) VALUES (2, N'Doe', N'John', N'john.doe@gmail.com', N'$2a$11$gVNCvOthrKlggoxQLFw0yORJt.MrleGby3extQsCVT5YDqGKzLEl6', 1, 3, 0)
SET IDENTITY_INSERT [dbo].[utilisateurs] OFF
GO
/****** Object:  Index [IX_codes_postaux]    Script Date: 17-08-22 01:01:27 ******/
CREATE NONCLUSTERED INDEX [IX_codes_postaux] ON [dbo].[codes_postaux]
(
	[code_postalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[codes_postaux]  WITH CHECK ADD  CONSTRAINT [FK_codes_postaux_pays] FOREIGN KEY([id_pays])
REFERENCES [dbo].[pays] ([paysId])
GO
ALTER TABLE [dbo].[codes_postaux] CHECK CONSTRAINT [FK_codes_postaux_pays]
GO
ALTER TABLE [dbo].[enseignes_publicitaires]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_entreprises1] FOREIGN KEY([id_entreprise])
REFERENCES [dbo].[entreprises] ([id_entreprise])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[enseignes_publicitaires] CHECK CONSTRAINT [FK_enseignes_publicitaires_entreprises1]
GO
ALTER TABLE [dbo].[enseignes_publicitaires]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_exercices] FOREIGN KEY([exercice_courant])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[enseignes_publicitaires] CHECK CONSTRAINT [FK_enseignes_publicitaires_exercices]
GO
ALTER TABLE [dbo].[enseignes_publicitaires]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_rues] FOREIGN KEY([id_rue])
REFERENCES [dbo].[rues] ([rueId])
GO
ALTER TABLE [dbo].[enseignes_publicitaires] CHECK CONSTRAINT [FK_enseignes_publicitaires_rues]
GO
ALTER TABLE [dbo].[enseignes_publicitaires_simulations]  WITH CHECK ADD  CONSTRAINT [FK_enseignes_publicitaires_simulations_rues] FOREIGN KEY([id_simulation])
REFERENCES [dbo].[simulations] ([id_simulation])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[enseignes_publicitaires_simulations] CHECK CONSTRAINT [FK_enseignes_publicitaires_simulations_rues]
GO
ALTER TABLE [dbo].[entreprises]  WITH CHECK ADD  CONSTRAINT [FK_entreprises_codes_postaux] FOREIGN KEY([code_postalId])
REFERENCES [dbo].[codes_postaux] ([code_postalId])
GO
ALTER TABLE [dbo].[entreprises] CHECK CONSTRAINT [FK_entreprises_codes_postaux]
GO
ALTER TABLE [dbo].[entreprises]  WITH CHECK ADD  CONSTRAINT [FK_entreprises_motifs_majoration] FOREIGN KEY([motif_majorationId])
REFERENCES [dbo].[motifs_majoration] ([id_motif])
GO
ALTER TABLE [dbo].[entreprises] CHECK CONSTRAINT [FK_entreprises_motifs_majoration]
GO
ALTER TABLE [dbo].[informations]  WITH CHECK ADD  CONSTRAINT [FK_informations_exercices] FOREIGN KEY([exercice_courant])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[informations] CHECK CONSTRAINT [FK_informations_exercices]
GO
ALTER TABLE [dbo].[non_recus]  WITH CHECK ADD  CONSTRAINT [FK_non_recus_entreprises1] FOREIGN KEY([id_entreprise])
REFERENCES [dbo].[entreprises] ([id_entreprise])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[non_recus] CHECK CONSTRAINT [FK_non_recus_entreprises1]
GO
ALTER TABLE [dbo].[non_recus]  WITH CHECK ADD  CONSTRAINT [FK_non_recus_exercices] FOREIGN KEY([exerciceId])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[non_recus] CHECK CONSTRAINT [FK_non_recus_exercices]
GO
ALTER TABLE [dbo].[non_recus]  WITH CHECK ADD  CONSTRAINT [FK_non_recus_motifs_majoration] FOREIGN KEY([motif_majorationId])
REFERENCES [dbo].[motifs_majoration] ([id_motif])
GO
ALTER TABLE [dbo].[non_recus] CHECK CONSTRAINT [FK_non_recus_motifs_majoration]
GO
ALTER TABLE [dbo].[paiements_recus]  WITH CHECK ADD  CONSTRAINT [FK_paiements_recus_entreprises1] FOREIGN KEY([id_entreprise])
REFERENCES [dbo].[entreprises] ([id_entreprise])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[paiements_recus] CHECK CONSTRAINT [FK_paiements_recus_entreprises1]
GO
ALTER TABLE [dbo].[paiements_recus]  WITH CHECK ADD  CONSTRAINT [FK_paiements_recus_exercices] FOREIGN KEY([exerciceId])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[paiements_recus] CHECK CONSTRAINT [FK_paiements_recus_exercices]
GO
ALTER TABLE [dbo].[photos_publicites]  WITH CHECK ADD  CONSTRAINT [FK_photos_publicites_enseignes_publicitaires] FOREIGN KEY([numero_panneauId])
REFERENCES [dbo].[enseignes_publicitaires] ([numero_panneau])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[photos_publicites] CHECK CONSTRAINT [FK_photos_publicites_enseignes_publicitaires]
GO
ALTER TABLE [dbo].[rues]  WITH CHECK ADD  CONSTRAINT [FK_rues_codes_postaux] FOREIGN KEY([code_postalId])
REFERENCES [dbo].[codes_postaux] ([code_postalId])
GO
ALTER TABLE [dbo].[rues] CHECK CONSTRAINT [FK_rues_codes_postaux]
GO
ALTER TABLE [dbo].[simulations]  WITH CHECK ADD  CONSTRAINT [FK_simulations_codes_postaux] FOREIGN KEY([code_postalId])
REFERENCES [dbo].[codes_postaux] ([code_postalId])
GO
ALTER TABLE [dbo].[simulations] CHECK CONSTRAINT [FK_simulations_codes_postaux]
GO
ALTER TABLE [dbo].[tarifs]  WITH CHECK ADD  CONSTRAINT [FK_tarifs_exercices] FOREIGN KEY([exerciceId])
REFERENCES [dbo].[exercices] ([id])
GO
ALTER TABLE [dbo].[tarifs] CHECK CONSTRAINT [FK_tarifs_exercices]
GO
USE [master]
GO
